/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Tw Cen MT";
  src: url('../fonts/TwCenMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/partials/_global.scss */
html, body {
  font-family: "Open Sans", sans-serif;
}

/* line 3, ../sass/partials/_global.scss */
html {
  background-image: url("../img/bg/treeOverRiver.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* line 11, ../sass/partials/_global.scss */
body {
  background: transparent;
  color: rgba(255, 255, 255, 0.85);
}

/* line 16, ../sass/partials/_global.scss */
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}
/* line 20, ../sass/partials/_global.scss */
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.99);
}

/* line 3, ../sass/partials/_content.scss */
.jumbotron {
  border: 1px solid white;
  margin-top: 60px;
  background-color: rgba(50, 50, 50, 0.15);
}

/* line 1, ../sass/partials/_navigation.scss */
.navbar {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(44, 44, 44, 0.3)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(44, 44, 44, 0.3));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(44, 44, 44, 0.3));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(44, 44, 44, 0.3));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(44, 44, 44, 0.3));
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.75);
  border-bottom: 0px;
}
/* line 6, ../sass/partials/_navigation.scss */
.navbar .navigation-links li a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}
/* line 11, ../sass/partials/_navigation.scss */
.navbar .navigation-links li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.99);
}
@media (max-width: 480px) {
  /* line 18, ../sass/partials/_navigation.scss */
  .navbar .navbar-collapse.collapse {
    border: none;
    display: block;
    float: right;
  }
  /* line 24, ../sass/partials/_navigation.scss */
  .navbar .navbar-collapse.collapse .nav > li {
    display: inline-block;
  }
}

/* line 31, ../sass/partials/_navigation.scss */
.navigation-logo-mobile {
  display: none;
}
@media (max-width: 480px) {
  /* line 31, ../sass/partials/_navigation.scss */
  .navigation-logo-mobile {
    display: inline-block;
    border: none;
    display: block;
    float: left;
    margin-top: 13px;
    margin-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 52, ../sass/partials/_navigation.scss */
.navbar-right .navigation-logo-main {
  float: right;
  margin-top: 13px;
  margin-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 480px) {
  /* line 52, ../sass/partials/_navigation.scss */
  .navbar-right .navigation-logo-main {
    display: none;
  }
}

/* line 69, ../sass/partials/_navigation.scss */
.s, .b {
  text-shadow: 0 1px 4px rgba(100, 100, 100, 0.3);
  font-family: "Comfortaa", sans-serif;
  font-size: 1.7em;
  letter-spacing: -0.14em;
}
/* line 75, ../sass/partials/_navigation.scss */
.s:hover, .b:hover {
  text-decoration: none;
}

/* line 80, ../sass/partials/_navigation.scss */
.s {
  color: #5bdf4f;
}

/* line 81, ../sass/partials/_navigation.scss */
.b {
  color: #01b2ec;
}
