{% extends 'layout.twig' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="col-md-2 logo left-side"></div>
        <div class="col-md-6 right-side">
            <div class="hello">Hello!</div>
            <div class="welcome">Welcome to my little space on the interwebs!</div>
        </div>
    </div>
</div>
{% endblock %}