{% extends 'layout.twig' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="col-md-2 logo left-side"></div>
        <div class="col-md-6 right-side">
            <div class="hello">Hello!</div>
            <div class="welcome">Welcome to my little space on the interwebs!</div>
            <div class="intro">
                <p>My name is Sander. I'm a web developer currently working at <a href="http://www.depalmastudios.com" target="_blank" class="depalma-link bold white">DePalma Studios</a> in <a class="map-link bold white" href="https://maps.google.com/maps?q=Nashville,+TN&hl=en&ll=36.166289,-86.782808&spn=0.03721,0.075703&sll=36.308056,-86.597788&sspn=0.148569,0.302811&oq=nashville,+tn&hnear=Nashville,+Davidson,+Tennessee&t=m&z=14" target="_blank" class="bold white">Nashville, Tenneessee</a>.
                I enjoy turning great ideas into awesome applications. </p>
                <p>I also enjoy just about any outdoor activity. So does my dog, Theo. I'm a big fan of hiking, biking, camping, snowboarding, surfing, mountains, the ocean, and awesome weather. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}