<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-logo-holder navigation-logo navigation-logo-mobile" href="{{ path('home') }}">
            <font class="s">s</font>
            <font class="b">b</font>
        </a>

        <div class="navbar-collapse collapse navigation-links">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Info</a></li>
                <li><a href="#">Contact</a></li>
                <a class="navbar-logo-holder navigation-logo navigation-logo-main" href="{{ path('home') }}">
                    <font class="s">s</font>
                    <font class="b">b</font>
                </a>
            </ul>
        </div>
        <!-- <div class="navbar-header">
            <a class="navbar-logo-holder navigation-logo navigation-logo-main" href="{{ path('home') }}">
                <font class="s">s</font>
                <font class="b">b</font>
            </a>
        </div> -->
    </div>
</div>