<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-logo-holder navigation-logo" href="{{ path('home') }}">
                <font class="s">s</font>
                <font class="b">b</font>
            </a>
        </div>
        <div class="navbar-collapse collapse navigation-links">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Info</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>